native/target/
app/.dart_tool/
app/build/
app/.flutter-plugins-dependencies
app/android/
app/ios/
app/macos/
app/linux/
app/windows/
app/web/
app/.metadata
app/README.md
*.ipsw
*.part
*.dmg
*.aea
*.tendies
*.zip
